.ct-series-a .ct-bar {
  /* Color de las barras de la primer serie*/
  stroke: rgb(129, 19, 219);
  /* El ancho de las barras */
  stroke-width: 30px;
  
}
.ct-series-b .ct-bar {
  /* Color de las barras de la segunda serie */
  stroke: rgb(36, 0, 240);
  /* El ancho de las barras */
  stroke-width: 25px;
  
}
.temp-box{
  width: 50px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: rgb(177, 9, 255);

}
.min{
  background-color: rgb(14, 67, 224);
}
.subt{
  display: block;
  color: blueviolet;
  
  font-size: large;
}
.centro{
  text-align: center;
}
